body {
  margin: 0;
  height: 100vh;
  width: 100vw;
  background-color: rgb(43, 78, 110);
  display: flex;
  justify-content: center;
}
.tasks {
  display: flex;
  width: 90vw;
}
ul {
  width: 300px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.task {
  color: white;
  padding: 15px;
}
